.cookie-container {
	font-size: 1.2em;
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	justify-content: center;
}

.cookie-dialog {
	/* 	border: 1px solid black; */
	padding: 1.5em 3em;
	margin: 3em;
	box-shadow: 0.5em 0.5em 22px #559699;
	border-radius: 1em;
}